<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Taskpanel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
					<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59e8ded34854b82732ff68b1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
		
		
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">Taskpanel</a> </h1>
					<nav id="nav">
						<ul>
						
							
							<li><a href="/app/register" class="button">Sign Up</a></li>
                            <li><a href="/app/login" class="button">Log In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>TaskPanel</h2>
					<p>Get your work done more efficiently by using the four Kanban principles</p>
					<ul class="actions">
						<li><a href="/app/register" class="button special">Sign Up</a></li>
						<li><a href="#main" class="button special">Learn More</a></li> <br /> <br />
						<li><a href="/demo" class="button" style="background-color: #e89980">Try a demo!</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<a name="main"></a>
						<header class="major">
							<h2>Introducing the ultimate web and mobile app
							<br />
							for keeping track of your homework.</h2>
							<p>TaskPanel is a next-generation planning tool for students, utilizing tools used in Agile Software Development for personal organization.</p>
						</header>
						<!--<span class="image featured"><img src="images/taskpanel.png" alt="" /></span> -->
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-eye accent2"></span>
								<h3>Visualized Work</h3>
								<p>Get an immediate overview of what needs to be done.  No more time wasted figuring out what to do.</p>
							</section>
							<section>
								<span class="icon major fa-cloud accent3"></span>
								<h3>Cloud Syncing</h3>
								<p>Everything is stored in the cloud, always accessible when you need it.  Misplaced to-do lists are a thing of the past.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-tablet accent4"></span>
								<h3>Device Compatible</h3>
								<p>Mac or PC, iPhone or Android, you're always able to access the site when you need it most.</p>
							</section>
							<section>
								<span class="icon major fa-exclamation accent5"></span>
								<h3>Notifications</h3>
								<p>Schedule notifications through SMS, Facebook Messenger, Telegram, and more! Never forget an assignment again.</p>
							</section>
						</div>
					</section>

				<!--	<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div> -->

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Ready to go?</h2>
					<p>Click the button below to get started.</p>

					<form>
						
							
							
				        <a class="button" style="width: 20rem" href="/app/register"  value="Sign Up" class="fit">Sign Up</a>
							
						
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Matt Katz. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
				$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1500, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        //window.location.hash = hash;
      });
    } // End if
  });
});
				
			</script>
			

	</body>
</html>
